<launch>

	<node pkg="laser_ortho_projector" type="laser_ortho_projector_node" name="laser_ortho_projector" output="screen">
		<param name="use_imu" type="bool" value="true"/>
		<param name="use_pose" type="bool" value="false"/>
		<param name="publish_tf" type="bool" value="true"/>
	</node>

	<node pkg="tf" type="static_transform_publisher" name="base_to_laser" 
		args="0 0 0 0 0 0 /base_link /laser 40" />     
    
</launch>

